# python_version: 36
# install six and setuptools before cryptography
six==1.11.0
PyYAML==3.13
Pygments==2.2.0
aiohttp==3.3.2
androguard==3.2.1
appnope==0.1.0
arrow==0.12.1
asn1crypto==0.24.0
async_timeout==3.0.0
attrs==18.1.0
backcall==0.1.0
cachetools==2.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
cryptography==2.3
Cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
dictdiffer==0.7.1
frozendict==1.2
future==0.16.0
google-api-python-client==1.7.4
google-auth==1.5.0
google-auth-httplib2==0.0.3
httplib2==0.11.3
idna==2.7
idna_ssl==1.1.0
ipython==6.5.0
ipython_genutils==0.2.0
jedi==0.12.1
json-e==2.6.0
jsonschema==2.6.0
kiwisolver==1.0.1
lxml==4.2.3
matplotlib==2.2.2
mohawk==0.3.4
mozapkpublisher==0.8.0
multidict==4.3.1
networkx==2.1
numpy==1.15.0
oauth2client==4.1.2
parso==0.3.0
pexpect==4.6.0
pickleshare==0.7.4
# Prompt toolkit is pinned because of ipython 6.4.0
prompt_toolkit==1.0.15  # pyup: <2.0.0,>=1.0.15
ptyprocess==0.6.0
pyOpenSSL==18.0.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.7.3
python-gnupg==0.4.3
pytz==2018.5
requests==2.19.1
rsa==3.4.2
scriptworker==14.0.0  # pyup: <15.0.0
simplegeneric==0.8.1
slugid==1.0.7
taskcluster==3.0.2  # pyup: <4.0.0
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.23
virtualenv==16.0.0
voluptuous==0.11.3
wcwidth==0.1.7
yarl==1.2.6
pushapkscript==0.8.0  # puppet: nodownload
