# python_version: 27
argparse==1.4.0
attrs==18.1.0
automat==0.7.0
buildtools==1.0.6
certifi==2018.8.13
chardet==3.0.4
constantly==15.1.0
docopt==0.6.2
furl==1.2
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
jinja2==2.10
markupsafe==1.0
orderedmultidict==1.0
pyhamcrest==1.9.0
python-dateutil==2.7.3
redo==1.7
requests==2.19.1
simplejson==3.16.0
six==1.11.0
sqlalchemy==1.2.11
twisted==18.7.0
urllib3==1.22
zope.interface==4.5.0
