<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.mozilla.puppet</string>
        <key>LaunchOnlyOnce</key>
        <true/>
        <key>OnDemand</key>
        <false/>
        <key>ProgramArguments</key>
        <array>
                <string>/bin/bash</string>
                <string>/usr/local/bin/run-puppet.sh</string>
        </array>
        <key>ServiceIPC</key>
        <false/>
        <key>StandardErrorPath</key>
        <string>/var/log/puppet/puppet.err</string>
        <key>StandardOutPath</key>
        <string>/var/log/puppet/puppet.out</string>
</dict>
</plist>

