<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

    <!-- This Source Code Form is subject to the terms of the Mozilla Public
       - License, v. 2.0. If a copy of the MPL was not distributed with this
       - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<dict>
        <key>Label</key>
        <string>com.mozilla.puppet</string>
        <key>OnDemand</key>
        <false/>
        <key>ProgramArguments</key>
        <array>
                <string>/bin/bash</string>
                <string>-c</string>
                <string>sleep $(((RANDOM*5*60)/32768)) &amp;&amp; /usr/bin/puppet agent --enable &amp;&amp /usr/bin/puppet agent --onetime --no-daemonize</string>
        </array>
        <key>StartInterval</key>
        <integer>1800</integer>
        <key>StandardErrorPath</key>
        <string>/var/log/puppet/puppet.err</string>
        <key>StandardOutPath</key>
        <string>/var/log/puppet/puppet.out</string>
</dict>
</plist>

