# python_version: 36
PyYAML==3.13
aiohttp==3.3.2
arrow==0.12.1
async_timeout==3.0.0
attrs==18.1.0
certifi==2018.8.13
chardet==3.0.4
defusedxml==0.5.0
dictdiffer==0.7.1
frozendict==1.2
idna==2.7
idna_ssl==1.1.0
json-e==2.6.0
jsonschema==2.6.0
mohawk==0.3.4
multidict==4.3.1
pexpect==4.6.0
ptyprocess==0.6.0
python-dateutil==2.7.3
python-gnupg==0.4.3
requests==2.19.1
scriptworker==15.0.0
six==1.11.0
slugid==1.0.7
taskcluster==4.0.1
treescript==1.1.1  # puppet: nodownload
urllib3==1.23
virtualenv==16.0.0
yarl==1.2.6
