<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>LSRiskCategoryNeutral</key>
    <dict>
      <key>LSRiskCategoryContentTypes</key>
      <array>
        <string>public.item</string>
        <string>public.content</string>
        <string>public.database</string>
        <string>public.calendar-event</string>
        <string>public.message</string>
        <string>public.contact</string>
        <string>public.archive</string>
        <string>public.url-name</string>
        <string>public.executable</string>
      </array>
    </dict>
  </dict>
</plist>
