# python_version: 27
PyYAML==3.13
# don't upgrade twisted because it doesn't work with our buildbot
Twisted==12.3.0  # pyup: ignore
certifi==2018.11.29
chardet==3.0.4
idna==2.8
json-e==3.0.0
mohawk==0.3.4 # pyup: ignore
requests==2.21.0
simplejson==3.16.0  # pyup: ignore
six==1.12.0
slugid==1.0.7 # pyup: ignore
taskcluster==3.0.2  # pyup: <4.0.0
urllib3==1.24.1
wsgiref==0.1.2
zope.interface==4.6.0
