# python_version: 27
PyYAML==3.13
# don't upgrade twisted because it doesn't work with our buildbot
Twisted==12.3.0  # pyup: ignore
certifi==2018.4.16
chardet==3.0.4
idna==2.6
json-e==2.5.0
mohawk==0.3.4
requests==2.18.4
simplejson==3.15.0
six==1.11.0
slugid==1.0.7
taskcluster==3.0.1
urllib3==1.22
wsgiref==0.1.2
zope.interface==4.5.0
