PyHawk-with-a-single-extra-commit==0.1.5
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
arrow==0.5.4
configman==1.2.13
configobj==5.0.6
ecdsa==0.10
jsonschema==2.4.0
kombu==3.0.26
pycrypto==2.6.1
python-dateutil==2.4.2
python-jose==0.5.2
redo==1.4.1
requests==2.4.3
sh==1.11
signingworker==0.15
six==1.9.0
taskcluster==0.0.16
wsgiref==0.1.2
