# python_version: 27
# install six before cryptography
six==1.12.0
Jinja2==2.10
MarkupSafe==1.1.1
Twisted==18.9.0
argparse==1.4.0
asn1crypto==0.24.0
attrs==19.1.0
automat==0.7.0
cffi==1.12.2
constantly==15.1.0
# Bug 1507497 - Cryptography unable to update past 2.3.x on scriptworkers
cryptography==2.3.1  # pyup: ignore
enum34==1.1.6
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
ipaddress==1.0.22
pyOpenSSL==19.0.0
pyasn1==0.4.5
pycparser==2.19
pycrypto==2.6.1
pyhamcrest==1.9.0
simplejson==3.16.0  # pyup: ignore
wsgiref==0.1.2
zope.interface==4.6.0
