# python_version: 27
# install six before cryptography
six==1.11.0
Jinja2==2.10
MarkupSafe==1.0
Twisted==18.7.0
argparse==1.4.0
asn1crypto==0.24.0
attrs==18.1.0
automat==0.7.0
cffi==1.11.5
constantly==15.1.0
cryptography==2.3
enum34==1.1.6
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipaddress==1.0.22
pyOpenSSL==18.0.0
pyasn1==0.4.4
pycparser==2.18
pycrypto==2.6.1
pyhamcrest==1.9.0
simplejson==3.16.0
wsgiref==0.1.2
zope.interface==4.5.0
