# Taskcluster pins requests 2.4.3, so we need to de the same,
# even though we'd rather use a more up-to-date version.
requests==2.18.4
arrow==0.12.1
taskcluster==3.0.1
sqlalchemy==1.2.7
kombu==4.2.0
redo==1.6
mysql-python==1.2.5
amqp==2.2.2
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
wsgiref==0.1.2
PyHawk-with-a-single-extra-commit==0.1.5
anyjson==0.3.3
PyYAML==3.12
jsonschema==2.6.0
slugid==1.0.7
statsd==3.2.2
