# python_version: 27
requests==2.19.1
arrow==0.12.1
taskcluster==3.0.2  # pyup: <4.0.0
sqlalchemy==1.2.11
kombu==4.2.1
redo==1.7
mysql-python==1.2.5
amqp==2.3.2
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
wsgiref==0.1.2
PyHawk-with-a-single-extra-commit==0.1.5
anyjson==0.3.3
PyYAML==3.13
jsonschema==2.6.0
slugid==1.0.7
statsd==3.2.2
backports.functools-lru-cache==1.5
functools32==3.2.3-2
urllib3==1.22
chardet==3.0.4
certifi==2018.8.13
idna==2.7
mohawk==0.3.4
vine==1.1.4
