config_opts['root'] = 'epel-6-i386'
config_opts['target_arch'] = 'i686'
config_opts['legal_host_arches'] = ('i386', 'i586', 'i686', 'x86_64')
config_opts['chroot_setup_cmd'] = 'install bash buildsys-macros bzip2 cpio diffutils gcc gcc-c++ gzip make patch perl rpm-build sed tar unzip which redhat-release coreutils elfutils redhat-rpm-config mpfr shadow-utils rpm'
config_opts['dist'] = 'el6'  # only useful for --resultdir variable subst

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

# repos
[centos6]
name=centos6
baseurl=http://repos/repos/yum/mirrors/centos/6.5/os/i386
failovermethod=priority

[centos6-updates]
name=updates
baseurl=http://repos/repos/yum/mirrors/centos/6.5/updates/i386
failovermethod=priority

[epel]
name=epel
baseurl=http://repos/repos/yum/mirrors/epel/6/latest/i386
failovermethod=priority

[releng-centos6-i386]
name=releng-centos6-i386
baseurl=http://repos/repos/yum/releng/public/CentOS/6/i386

[releng-centos6-noarch]
name=releng-centos6-noarch
baseurl=http://repos/repos/yum/releng/public/CentOS/6/noarch
"""
