# python_version: 27
MySQL-python==1.2.5
SQLAlchemy==1.2.11
certifi==2018.8.13
chardet==3.0.4
idna==2.7
pytz==2018.5
# Pinning to avoid investigating if an update would break
# https://bugzilla.mozilla.org/show_bug.cgi?id=1289822#c7
requests==2.19.1
simplejson==3.16.0
urllib3==1.22
wsgiref==0.1.2
