# python_version: 27
gevent==1.3.5
greenlet==0.4.14
pycrypto==2.6.1
# unused, but one of the vendor libraries (Flask) requires it
Jinja2==2.10
MarkupSafe==1.0
WebOb==1.8.2
requests==2.19.1
bzrest==1.1
dnspython==1.15.0
paramiko==2.4.1
Flask==1.0.2
Werkzeug==0.14.1
itsdangerous==0.24
docopt==0.6.2
python-daemon==2.1.2
gevent_subprocess==0.1.2
furl==1.2
orderedmultidict==1.0
pytz==2018.5
python-dateutil==2.7.3
# for aws cloud-tools
MySQL-python==1.2.5
PyYAML==3.13
SQLAlchemy==1.2.10
cfn-pyplates==0.6.0
ecdsa==0.13
idna==2.7
invtool==4.4  # puppet: nodownload
netaddr==0.7.19
ordereddict==1.1
testrepository==0.0.20
python-subunit==1.3.0
extras==1.0.0
testtools==2.3.0
pbr==4.2.0
schema==0.6.8
simplejson==3.16.0
python_mimeparse==1.6.0
invoke==1.1.1
Fabric==2.2.1
IPy==0.83
argparse==1.4.0
boto==2.49.0
iso8601==0.1.12
repoze.lru==0.7
ssh==1.8.0
wsgiref==0.1.2
chardet==3.0.4
urllib3==1.23
certifi==2018.4.16
pynacl==1.2.1
pyasn1==0.4.4
bcrypt==3.1.4
click==6.7
docutils==0.14
lockfile==0.12.2
fixtures==3.0.0
python-mimeparse==1.6.0
unittest2==1.1.0
traceback2==1.4.0
cffi==1.11.5
enum34==1.1.6
asn1crypto==0.24.0
ipaddress==1.0.22
linecache2==1.0.0
pycparser==2.18
cryptography==2.3
six==1.11.0
