# python_version: 27
gevent==1.3.2.post0
greenlet==0.4.13
pycrypto==2.6.1
# unused, but one of the vendor libraries (Flask) requires it
Jinja2==2.10
MarkupSafe==1.0
WebOb==1.8.1
requests==2.19.1
bzrest==1.1
dnspython==1.15.0
paramiko==2.4.1
Flask==1.0.2
Werkzeug==0.14.1
itsdangerous==0.24
docopt==0.6.2
python-daemon==2.1.2
gevent_subprocess==0.1.2
furl==1.0.2
orderedmultidict==0.7.11
pytz==2018.4
python-dateutil==2.7.3
# for aws cloud-tools
MySQL-python==1.2.5
PyYAML==3.12
SQLAlchemy==1.2.8
cfn-pyplates>=0.5.0
ecdsa==0.13
invtool==4.4  # puppet: nodownload
netaddr==0.7.19
ordereddict==1.1
testrepository==0.0.20
python-subunit==1.3.0
extras==1.0.0
testtools==2.3.0
pbr==4.0.3
schema==0.6.7
simplejson==3.15.0
Fabric==2.1.3
IPy==0.83
argparse==1.4.0
boto==2.48.0
iso8601==0.1.12
repoze.lru==0.7
ssh==1.8.0
wsgiref==0.1.2
