# python_version: 27
gevent==1.4.0
WebOb==1.8.5
poster==0.8.1
IPy==1.00
greenlet==0.4.15
# fluf.lock 3.0+ requires python 3
flufl.lock==2.4.1  # pyup: <3.0
pexpect==4.7.0
# widevine: osx cant build cryptography and doesnt need these!
## install six and setuptools before cryptography
setuptools==41.6.0
six==1.12.0
argparse==1.4.0
enum34==1.1.6
ipaddress==1.0.23
asn1crypto==1.2.0
cffi==1.13.1
cryptography==3.2  # pyup: ignore
macholib==1.11
altgraph==0.16.1
idna==2.8
pycparser==2.19
wsgiref==0.1.2
ptyprocess==0.6.0
mercurial==5.1.2
