# python_version: 27
gevent==1.3.6
WebOb==1.8.2
poster==0.8.1
IPy==0.83
greenlet==0.4.14
redis==2.10.6
# fluf.lock 3.0+ requires python 3
flufl.lock==2.4.1  # pyup: <3.0
pexpect==4.6.0
ptyprocess==0.6.0
mercurial==4.7
