<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
            <string>org.collectd.collectd</string>
        <key>ProgramArguments</key>
            <array>
            <string>/usr/local/sbin/collectd</string>
            <string>-f</string>
            <string>-C</string>
            <string>/usr/local/etc/collectd.conf</string>
            </array>
            <key>KeepAlive</key>
                <dict>
                     <key>NetworkState</key>
                         <true/>
                </dict>
    </dict>
</plist>
