# python_version: 27
# install six before cryptography
# held at old version because 1.11.0 breaks pgpy
six==1.10.0  # pyup: ignore
Fabric==1.14.0  # pyup: <2.0
Jinja2==2.10
PGPy==0.4.3
PyHawk-with-a-single-extra-commit==0.1.5
PyYAML==3.13
SQLAlchemy==1.2.10
Tempita==0.5.2
# don't upgrade twisted because it doesn't work with our buildbot
Twisted==12.3.0  # pyup: ignore
arrow==0.12.1
asn1crypto==0.24.0
backports.functools_lru_cache==1.5
bcrypt==3.1.4
buildbot==0.8.7p1  # pyup: ignore, puppet: nodownload
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
chunkify==1.2
cryptography==2.3
decorator==4.2.1
ecdsa==0.13
enum34==1.1.6
future==0.16.0
futures==3.2.0
idna==2.7
invoke==1.1.0
ipaddress==1.0.22
MarkupSafe==1.0
mohawk==0.3.4
paramiko==2.4.1
pbr==4.2.0
pyasn1==0.4.4
pycparser==2.18
pycrypto==2.6.1
pynacl==1.2.1
python-dateutil==2.7.3
python-jose==3.0.0
redo==1.6
releasetasks==0.4.1  # puppet: nodownload
requests==2.7.0  # pyup: ignore
requests-hawk==1.0.0
rsa==3.4.2
simplejson==3.16.0
singledispatch==3.4.0.3
slugid==1.0.7
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
# Held at this ancient version because we need encrypted enviroment variable support.
taskcluster==0.0.24  # pyup: ignore
toposort==1.5
urllib3==1.22
wsgiref==0.1.2
zope.interface==4.5.0
