# install six before cryptography
six==1.11.0
Fabric==2.0.1
Jinja2==2.10
PGPy==0.4.3
PyHawk-with-a-single-extra-commit==0.1.5
PyYAML==3.12
SQLAlchemy==1.2.7
Tempita==0.5.2
# don't upgrade twisted because it doesn't work with our buildbot
Twisted==12.3.0 # pyup: ignore
arrow==0.12.1
buildbot==0.8.7p1 # pyup: ignore
certifi==2018.4.16
chunkify==1.2
cryptography==2.2.2
decorator==4.2.1
ecdsa==0.13
enum34==1.1.6
futures==3.2.0
mohawk==0.3.4
paramiko==2.4.1
pycrypto==2.6.1
python-dateutil==2.7.3
python-jose==3.0.0
redo==1.6
releasetasks==0.4.0
requests==2.18.4
requests-hawk==1.0.0
simplejson==3.15.0
singledispatch==3.4.0.3
slugid==1.0.7
sqlalchemy-migrate==0.11.0
taskcluster==3.0.1
toposort==1.5
wsgiref==0.1.2
zope.interface==4.5.0
