# python_version: 36
PyNaCl==1.2.1
PyYAML==3.13
aiohttp==3.3.2
arrow==0.12.1
async_timeout==3.0.0
attrs==18.1.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
defusedxml==0.5.0
dictdiffer==0.7.1
frozendict==1.2
idna==2.7
idna_ssl==1.1.0
json-e==2.6.0
jsonschema==2.6.0
mohawk==0.3.4
multidict==4.3.1
pexpect==4.6.0
progressbar33==2.4
ptyprocess==0.6.0
pycparser==2.18
pyelftools==0.24
pymacaroons==0.13.0
pysha3==1.0.2
python-dateutil==2.7.3
python-debian==0.1.33
python-gnupg==0.4.3
pyxdg==0.26
requests==2.19.1
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
scriptworker==15.0.0
simplejson==3.16.0
six==1.11.0
slugid==1.0.7
tabulate==0.8.2
taskcluster==4.0.1
urllib3==1.23
virtualenv==16.0.0
yarl==1.2.6
pushsnapscript==0.2.1  # puppet: nodownload
